<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
    <h1>Games!</h1>
    <% if (user) { %>
      <h2>Add a Game!</h2>
      <form action="/games" method="POST">
        <label>
          Name:
          <input type="text" name="name" autocomplete="off">
        </label><br>
        <label>
          Release Year:
          <input type="number" name="releaseDate" autocomplete="off">
        </label>
        <label>Genre:
          <select name="genre">
            <option value="action">Action</option>
            <option value="adventure">Adventure</option>
            <option value="Shooter">Shooter</option>
            <option value="RPG">RPG</option>
            <option value="Horror">Horror</option>
            <option value="Fighting">Fighting</option>
            <option value="Casual">Casual</option>
          </select>
        </label><br>
        <label>Rating:
          <select name="rating">
            <option value="E">E</option>
            <option value="E10">E10</option>
            <option value="T">T</option>
            <option value="M">M</option>
          </select>
        </label>
        <button type="submit">Add Game</button>
      </form>
      <% } %>
      <br><br>
      <h2>See all games below:</h2>
      <ul>
        <% games.forEach(game => { %>
          <li>
            <a href="/games/<%= game._id %>"><%= game.name %></a>
          </li>
          <% }) %>
        </ul>
      </section>
    </main>
      
  <%- include('../partials/footer') %>